h1{
    background-color: lawngreen; 
    color: indigo; 
    text-align: center;
    font-size: 50px; 
    text-transform: capitalize;
}
h2{
    text-transform: capitalize;
}
h3{
    text-transform: capitalize;
}
body{
    background-color: indigo;
}
html{
    color: lawngreen;
}
footer{
    background-color:lawngreen; color:indigo;
}
p{
    font-size: 20px; 
    text-align: justify;
    text-indent: 35px;
}