html{
    background-color: steelblue;
    background-image: url("folder gambar/pemandangan.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 100px;
    text-align: center;
}

h1 {
  font-size: 200px;
  transition: all 4s;
}
h1:hover {
  font-size: 30px;
}